<tr class="jsgrid-row">
  <td class="jsgrid-cell"><%= tag.id %></td>
  <td class="jsgrid-cell"><%= tag.name %></td>
  <td class="jsgrid-cell">&nbsp;
    <%= link_to edit_admin_tag_path(tag) do %>
      <i class="fa fa-edit"></i>
    <% end %>
    &nbsp;
    <%= link_to admin_tag_path(tag), method: :delete, data: {:confirm => 'Are you sure?'} do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </td>
</tr>