<div class="row">
  <div class="col-12">
    <%= link_to 'Create tag', new_admin_tag_path, tag: 'button', class: 'mb-4 btn btn-primary' %>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div id="jsGrid1" class="jsgrid">
      <table class="jsgrid-table">
        <tr class="jsgrid-header-row">
          <th style="width:50px;" class="jsgrid-header-cell">id</th>
          <th class="jsgrid-header-cell">name</th>
          <th style="width:80px;" class="jsgrid-header-cell"></th>
        </tr>
        <%= render partial: 'admin/tags/tag_item_list', collection: @model, as: 'tag' %>
      </table>
      <%= will_paginate @model, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>